* {
  margin:0px;
  padding:0px;
}

/* Add a background to menu bar */
.topnavright {
	background-color: #292F33;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add style to the links in navigation bar */
.topnavright a {
  float: right;
  color: #55ACEE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/*Change links on hover*/
.topnavright a:hover {
  background-color: #66757F;
  color: #55ACEE;
}

/*First section of website background*/
#intro{
	background-color: #3B5998;
	width: 100%;
	height: 750px;
}

/*Name introduction*/
#name{
	text-align: center;
	padding: 50px;
	font-size: 100px;
	color: #FFFF
}

h1{
	padding: 40px;
	display: block;
	font-size: 70px;
	text-align: center;
	color: #FFFF
}

h2{
	display: block;
	font-size: 30px;
	text-align: center;
	color: #FFFF
}

h3{
	font-size: 30px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	color: #FFFF
}

/*Avatar image*/
#SamPhoto{
	padding: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

/* About me section*/
#about{
	background-color: #8B9DC3;
	width: 100%;
	height: 1700px;
}

#AboutPhoto{
	padding: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Contact{
	background-color: #3B5998;
	width: 100%;
	height: 700px;
}