* {
  margin:0px;
  padding:0px;
}

/* Add a background to menu bar */
.topnavright {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #292F33;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add style to the links in navigation bar */
.topnavright a {
  float: right;
  color: #c2dbed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/*Change links on hover*/
.topnavright a:hover {
  background-color: #66757F;
  color: #c2dbed;
}

/*First section of website background*/
#intro{
	background-color: #D7E9F7;
	width: 100%;
	height: auto;
}

/*Name introduction text*/
#name{
	font-size: 40px;
	padding-top: 80px;
	color: #292F33
}

div{
	padding-top: 30px;
	padding-bottom: 30px;
}

h1{
	font-family: 'Lato', sans-serif;
	padding: 40px;
	display: block;
	font-size: 30px;
	text-align: center;
	color: #D7E9F7
}

/*Reverse color for header 1*/
.rh1 {
	color: #292F33
}

h2{
	font-family: 'Lato', sans-serif;
	padding: 10px;
	text-align: center;
	margin: auto;
	width: 50%;
	display: block;
	font-size: 20px;
	color: #292F33
}

h3{
	width: 50%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	margin: auto;
	color: #D7E9F7
}

/*Avatar image*/
#SamPhoto{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

/* About me section*/
#about{
	background-color: #292F33;
	width: 100%;
	height: auto;
}

/* Photos in about me section */
#AboutPhoto{
	padding: 30px;
	display: block;
	width: 60%;
 	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* Education section */
#education{
	background-color: #D7E9F7;
	width: 100%;
	height: auto;
}

/* Experience section*/
#experience{
	background-color: #292F33;
	width: 100%;
	height: auto;
}

/* Skills section */
#skills{
	background-color: #D7E9F7;
	width: 100%;
	height: auto;
}

/* Experience section*/
#volunteering{
	background-color: #292F33;
	width: 100%;
	height: auto;
}

/* Campus Involvment section */
#campus{
	background-color: #D7E9F7;
	width: 100%;
	height: auto;
}

/*Awards section */
#awards{
	background-color: #292F33;
	width: 100%;
	height: auto;
}

/* Contact section */
#contact{
	background-color: #3B5998;
	width: 100%;
	height: auto;
}

.skillList {
	text-align: left;
}

/* Experience section styling */
.job {
	text-align: center;
}

/* Container styling */
.float-container {
    padding: 20px;
    padding-bottom: 300px;
}

.float-child {
	border-radius: 25px;
	background-color: white;
	border: 3px solid black;
    width: 45%;
    float: left;
    padding: 20px;
}  