* {
  margin:0px;
  padding:0px;
}

/* Add a background to menu bar */
.topnavright {
	background-color: #292F33;
	overflow: hidden;
}

/* Add style to the links in navigation bar */
.topnavright a {
  float: right;
  color: #55ACEE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/*Change links on hover*/
.topnavright a:hover {
  background-color: #66757F;
  color: #55ACEE;
}

/*First section of website background*/
#intro{
	background-color: #3B5998;
	width: 100%;
	height: 680px;
}

/*Name introduction*/
#name{
	text-align: center;
	padding: 40px;
	font-size: 100px;
	color: #FFFF
}

h2{
	display: block;
	font-size: 20px;
	text-align: center;
	color: #FFFF
}

/*Avatar image*/
#SamPhoto{
	padding: 30px;
	width: 300px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}